@import 'styles/shared_modules.scss';

.sideBar {
    background-color: $menu-bg;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.08);
    border-right-style: solid;

    position: fixed;
    top: 0px;
    bottom: 0px;
    width: $menu-desktop-width;
    z-index: $menu-layer;
    overflow-y: auto;
    transition: transform .6s;
    &.mobileBar {
        transform: translateX(-100%);
    }

    &.opened {
        transform: translateX(0);
        background-color: red;
    }

    &Header {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 5px;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    &HeaderLogoWrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    &TitleWrapper {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        align-items: center;
        height: 50px;
        h3 {
            font-size: 1.8rem;
        }
    }


    &Menu {
        &, & li {
            width: 100%;
            padding: 0px 10px;
        }
        
        & > li {
            display: flex;
            padding: 10px 10px;
            transition: background-color .6s;
            border-bottom: 1px solid rgba(0,0,0,0.08);

            &:hover {
                background-color: rgba(0,0,0,0.08);
            }
            & svg {
                height: 20px;
                font-size: 1.2rem;
                width: 20px;
            }
            a {
                flex: 1;
                margin-left: 10px;
            }
        }
    }
}