@import "styles/shared_modules.scss";

$button-height: 30px;
.button {
    align-items: center;
    border-color: $input-border;
    min-height: $button-height;
    display: inline-flex;
    margin: 0px .2rem 0.5rem;
    padding: 0px;
    border-radius: 5px;
    // box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    font-weight: 300;
    font-size: 0.9rem;
    transition: background-color .6s;

    .buttonContent {
        padding: 0px 0.7rem;
        font-weight: 400;
    }

    &.default {
        background-color: $button-default-bg;
        border-width: 1px;
        border-style: solid;
        border-color:rgba(0,0,0,0.1);
        &:hover {
            background-color: #f1f1f1;
        }
    }

    &.primary {
        color: #FFF;
        background-color: $button-primary-bg;
        &:hover {
            background-color: #{$button-primary-bg}b0;
        }
    }

    &.secondary {
        background-color: $palette-light-1;
        color: $palette-main;
    }

    &.rounded {
        border-radius: 40px;
    }

    .iconWrapper {
        margin-right: 0.1rem;
        border-radius: 5px;
        display: inline-flex;
        width: $button-height;
        height: $button-height;
        background-color: rgba(0,0,0,0.07);
        align-items: center;
        justify-content: center;
    }

    .iconWrapperRounded {
        border-radius: 40px;   
    }

    .icon {
        font-size: 1.3rem;
    }
}