@import "styles/shared_modules.scss";

.pageTitle {
    padding: .5rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 6px;
    // background-color: #FFF;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // border-bottom-width: 2px;
    // border-style: solid;
    // border-color: $palette-light-2;
    display: flex;
    align-items: flex-end;

    h1 {
        font-size: 1.9rem;
        line-height: 1.3;
    }
    .separator {
        margin: 0 .5rem;
        color: rgba(0,0,0,0.3);
        line-height: 2;
    }
    h2 {
        line-height: 2rem;
        font-size: 1.2rem;
        color: rgba(0,0,0,.5);
    }
}