main#root {
    display: flex;
    height: 100vh;
    background-color: $main-bg;
    position: fixed;
    width: 100%;
    overflow-y: auto;
}

#content {
    flex-grow: 1;
    max-width: calc(100vw - $menu-desktop-width);
    left: $menu-desktop-width;
    position: relative;
}

.wmde-markdown {
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
}