main#root {
    display: flex;
    height: 100vh;
    background-color: $main-bg;
    position: fixed;
    width: 100%;
    overflow-y: auto;
}

#content {
    
}

.wmde-markdown {
    ul {
        li {
            list-style-type: disc;
        }
    }
    ol {
        li {
            list-style-type: decimal;
        }
    }
}