$input-border: #cbcacad5;
$input-height: 32px;
$main-bg: #ebecee;


/* Menu related */
$menu-desktop-width: 275px;
$menu-bg: #FFF;
$menu-layer: 9999;


/* Toolbar */
$toolbar-height: 60px;

/** Buttons */
// #4d4dff, #3655b3, #d3deff, #a6bcff, #ffffff
$palette-main: #4d4dff;
$palette-secondary: #3655b3;
$palette-light-1: #d3deff;
$palette-light-2: #a6bcff;
$palette-bg: #ffffff;

$button-default-bg: $palette-bg;
$button-primary-bg: $palette-main;
$button-secondary-bg: $palette-light-2;

