.step {
    h3 {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}

.description {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 2rem;
    color: #848484
}