@import 'styles/shared_modules.scss';

.tabsRoot {

}

.tabsHeader {
    display: flex;
    flex: 1;
    // background-color: #FFF;
    border-bottom: 2px solid rgba(0,0,0,.1);
    // padding: .4rem;
    // border-radius: 20px;

    li button {
        border: none;
        background-color: #F5F5F5;
        padding: .2rem 1rem;
        // border-radius: 20px;
        margin-right: .2rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: $palette-light-1;
        }
    }

    li.activeTab button {
        background-color: $palette-secondary; 
        color: #FFF;
    }
}