@import 'styles/shared_modules.scss';

.textAreaRoot {
    width: 100%;
    position: relative;
}

.textArea {
    display: block;
    border-radius: 5px;
    padding: .2rem 1rem;
    margin: 0px 0px 10px 0px;
    min-height: $input-height;
    width: 100%;
    border-bottom: 1px solid $input-border;

    &:focus {
        outline: none;
    }
}

.filled {
    background-color: #{$palette-light-1} + "63";
    border: none;
}

.inputLabel {
    color: $palette-secondary;
}

.charCount {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: $palette-secondary;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(10px);
}