@import 'styles/shared_modules.scss';

.status {
    align-items: center;
    background-color: #FFF;
    border-bottom-color: #dfe1e5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    flex: 1;
    height: 60px;    
    position: absolute;
    width: 100%;
    // @include sm-resolution {
    //     background-color: green;
    // }
    // @include md-resolution {
    //     background-color: blue;
    // }
    @include md-resolution {
        // flex-grow: 1;
        // max-width: calc(100vw - $menu-desktop-width);
        // left: $menu-desktop-width;
        // position: relative;
        left: $menu-desktop-width;
        width: calc(100vw - $menu-desktop-width);
    }
}

.toggleButton {
    margin-left: 1rem;
}