.testingHallRoot {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 1rem;
}

.col {
    flex: 1;
}