@import 'styles/shared_modules.scss';

.table {
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 1.5rem 0.6rem .3rem 0.6rem;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;

    &Toolbar {
        display: flex;
        padding: 10px;
    }

    &ToolbarLeft {
        flex-grow: 2;
    }

    &ToolbarRight {
        flex-grow: 3;
        display: flex;
        justify-content: flex-end;
    }

    table,
    tr,
    td,
    th {
        border: none;
    }

    thead {
        th {
            span {
                align-items: center;
                justify-content: center;
                display: inline-flex;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 20px;
                width: 100%;
                height: 100%;
            }
        }
    }

    th,
    td {
        font-size: 0.9rem;
        height: 40px;
    }

    td {
        padding: 0.4rem 1.2rem;
    }

    td:last-child {
        text-align: right;
        white-space: nowrap;
        width: 1%;
    }

    tr {

        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    th {
        color: rgba(0, 0, 0, 0.6);
        ;
        // &:first-child {
        //     border-radius: 30px 0 0 30px;
        // }
        // &:last-child {
        //     border-radius: 0 30px 30px 0;
        // }
    }
}