@import "styles/shared_modules.scss";

.breadcrumbs {
    background-color: rgba(0,0,0,0.02);
    padding: .4rem 1rem;
    // border-radius: 0 0 20px 20px;
    ul {
        display: flex;
        li {
            &.separator {
                margin: 0 .2rem;
                color: rgba(0,0,0,0.3);
            }
            &.item {
                // background-color: rgba(0,0,0,0.06);
                border-radius: 5px;
                cursor: pointer;
                // margin-right: .5rem;
                padding: .1rem .5rem;
            }
            &.separator, &.item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.withLink {
                color: $palette-secondary;
                // background-color: $palette-secondary;
                // color: #FFF;
            }
        }
    }
}