@import 'styles/shared_modules.scss';

$caret-size: 30px;
$bar-size: 8px;

.followUpItem {
    width: 100%;
    display: flex;
}

.followUpWrapper {
    background-color: #FFF;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.content {
    flex: 1;
}

.dateWrapper {
    background-color: $palette-secondary;    
    position: absolute;
    right: 10px;
    padding: 0.06rem 0.8rem;
    border-radius: 20px;
    bottom: 0;
    transform: translateY(10px);
    span {
        color: #FFF;
        font-size: 0.8rem;
    }
}


.followUpCarret {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;

    span {
        font-size: 0.6rem;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
    }
    &::before {
        background-color: $palette-main;
        height: 100%;
        width: $bar-size;
        border-radius: 20px;
        transform: translateY(20px);
    }
    &::after {
        border-width: 4px;
        background-color: #FFF;
        border-style: solid;
        border-color: $palette-main;
        width: $caret-size;
        height: $caret-size;
        transform: translateX($caret-size / 2 - $bar-size / 2);
        border-radius: 50%;
    }
}