@import 'styles/shared_modules.scss';

.markDownEditor {
    padding: 1rem;
    background-color: #FFF;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
